body {
height: 100vh;
max-width: 50%;
margin-left: auto;
margin-right: auto;
}

.negrita {
    font-weight: bold;
}

#ti {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#mondongo {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}
